# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: 'i_facilitylibrary.sln'
  buildPlatform: 'Any CPU'    
  buildConfiguration: 'Release'

steps:
- task: AzureWebApp@1
  inputs:
    azureSubscription: 'Visual Studio Enterprise (de16f392-894f-496e-abf1-7453e9ba0b9f)'
    appType: 'webApp'
    appName: 'DASTAL'
    deployToSlotOrASE: true
    resourceGroupName: 'IOT_ASHOTEST'
    slotName: 'production'
    package: '$(System.DefaultWorkingDirectory)\**\TALBUILD.zip'
    appSettings: '-ServerName "TCP:10.80.20.25,1433" -password "password@123" -DB "i_facility_tal" -Schema "dbo" -username "sa" -databasename "i_facility_tal.dbo"'
    deploymentMethod: 'auto'
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:PackageLocation="$(build.artifactStagingDirectory)"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: VSTest@2
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
    
- task: PublishBuildArtifacts@1
